<div class="derby-sdfa">
    <div class="derby-sdfa_cards">
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave. UPR
            </div>
            <div class="derby-sdfa_cards_content_data">
                0.52
            </div>
        </div>
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave Population
            </div>
            <div class="derby-sdfa_cards_content_data">
                15.43
            </div>
        </div>
    </div>
    <div class="derby-sdfa_table">
        <div class="derby-sdfa_table_header">
            <div *ngFor="let item of headers">
                {{ item }}
            </div>
        </div>
        <div class="derby-sdfa_table_content">
            <div *ngFor="let data of derbySdfa">
                <div>{{ data.id }}</div>
                <div>{{ data.line ? data.line : '-' }}</div>
                <div>{{ data.family ? data.family : '-' }}</div>
                <div>{{ data.sire ? data.sire : '-' }}</div>
                <div>{{ data.dam ? data.dam : '-' }}</div>
                <ng-container *ngFor="let weekData of [data.week1, data.week2, data.week3, data.week4, data.week5]; let weekIndex = index">
                    <div *ngFor="let week of weekData" class="derby-sdfa_table_content_week">
                        <div>{{ week.rank ? week.rank : '-' }}</div>
                        <div>{{ week.totalBirds ? week.totalBirds : '-' }}</div>
                        <div>{{ week.week }}</div>
                    </div>
                </ng-container>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>{{ data.id }}</div>
                <ng-container *ngFor="let weekKey of ['week1', 'week2', 'week3', 'week4', 'week5']; let weekIndex = index">
                    <!-- <div *ngIf="data.sdfa_points[0][weekKey]" class="derby-sdfa_table_content_sdfa-points"> -->
                        <!-- Loop through the array for the current weekKey -->
                        <div *ngFor="let weekData of data.sdfa_points[0][weekKey]" class="derby-sdfa_table_content_sdfa-points">
                            <div>{{ weekData[1].points || '-' }}</div>
                            <div>{{ weekData[1].f || '-' }}</div>
                            <div>{{ weekData[1].week || '-' }}</div>
                          </div>
                          
                    <!-- </div> -->
                </ng-container>
                <div>{{ data.upr }}</div>
            </div>
        </div>
    </div>
</div>