<div class="derby-sdfa">
    <div class="derby-sdfa_cards">
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave. UPR
            </div>
            <div class="derby-sdfa_cards_content_data">
                0.52
            </div>
        </div>
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave Population
            </div>
            <div class="derby-sdfa_cards_content_data">
                15.43
            </div>
        </div>
    </div>
    <div class="derby-sdfa_table">
        <div *ngFor="let item of data">
            {{ item.id }}
        </div>
    </div>
</div>