<div class="derby-sdfa">
    <div class="derby-sdfa_cards">
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave. UPR
            </div>
            <div class="derby-sdfa_cards_content_data">
                0.52
            </div>
        </div>
        <div class="derby-sdfa_cards_content">
            <div class="derby-sdfa_cards_content_title">
                Ave Population
            </div>
            <div class="derby-sdfa_cards_content_data">
                15.43
            </div>
        </div>
    </div>
    <div class="derby-sdfa_table">
        <div class="derby-sdfa_table_header">
            <div *ngFor="let item of headers">
                {{ item }}
            </div>
        </div>
        <div class="derby-sdfa_table_content">
            <div *ngFor="let item of data; let i = index">
                <div>{{ item.id }}</div>
                <div>{{ item.line }}</div>
                <div>{{ item.family }}</div>
                <div>{{ item.sire }}</div>
                <div>{{ item.dam }}</div>
                <div *ngFor="let week of item.week1" class="derby-sdfa_table_content_week">
                  <div>{{ week.rank }}</div>
                  <div>{{ week.totalBirds }}</div>
                  <div>{{ weekOne[i] }}</div>
                </div>
                <div *ngFor="let week of item.week2" class="derby-sdfa_table_content_week">
                  <div>{{ week.rank ? week.rank : '-' }}</div>
                  <div>{{ week.totalBirds ? week.totalBirds : '-' }}</div>
                  <div>{{ weekTwo[i] }}</div>
                </div>
                <div *ngFor="let week of item.week3" class="derby-sdfa_table_content_week">
                    <div>{{ week.rank ? week.rank : '-' }}</div>
                    <div>{{ week.totalBirds ? week.totalBirds : '-' }}</div>
                    <div>{{ weekThree[i] }}</div>
                </div>
                <div *ngFor="let week of item.week4" class="derby-sdfa_table_content_week">
                    <div>{{ week.rank ? week.rank : '-' }}</div>
                    <div>{{ week.totalBirds ? week.totalBirds : '-' }}</div>
                    <div>{{ weekFour[i] }}</div>
                </div>
                <div *ngFor="let week of item.week5" class="derby-sdfa_table_content_week">
                    <div>{{ week.rank ? week.rank : '-' }}</div>
                    <div>{{ week.totalBirds ? week.totalBirds : '-' }}</div>
                    <div>{{ weekFive[i] }}</div>
                </div>
                <div>{{ upr[i] }}</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>{{ item.id }}</div>
            </div>
              
        </div>
    </div>
</div>