.sidebar {
    width: 216px;
    height: 100vh;
    padding: 22px;
    color: #E2EEFF;
    background-color: #232E51;
    div {
        padding: 8px 12px;
        margin-bottom: 8px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: #2f3a5f;
        }
    }
}

.active {
    background-color: #2f3a5f;
}